{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Maria et la Mode{% endblock %}

{% block content %}
    <div class="container">
    <div class="container" style="margin-bottom: 150px"></div>
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br/></hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <div class="espace" style="margin-top:220px"></div>   
    </div>
{% endblock %}