{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
    <div class="container" style="margin-bottom: 150px">
    </div>
    <h1>Inscription</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    {{ form(form)}}
    
    <div class="espace" style="margin-top:150px"></div> 
    
    </div>
{% endblock %}
