{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Maria et la Mode{% endblock %}

{% block content %}
<div class="container">
<div class="container" style="margin-bottom: 150px"></div>
<div class="block-small2" >
    <h2>Page introuvable</h2>
    <p>Désolé, cette page ne semble pas être accessible.</p>
    <hr>
    <div class="total">
        <div class="main-border-button">
            <a href="{{ path('home') }}">Revenir à l'acceuil</a>
        </div>
    </div>
</div>
<div style="margin-bottom: 400px"></div>
</div>
{% endblock %}







